<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ramadhanapp">

    <!--Permissions for internet-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RamadhanApp">
        <activity android:name=".Action.EditFardhuActivity"></activity>
        <activity android:name=".Action.AddFardhuActivity" />
        <activity android:name=".Action.AddTadarusActivity" />
        <activity android:name=".Action.EditTadarusActivity" />
        <activity android:name=".Action.AddTarawihActivity" />
        <activity android:name=".Action.EditTarawihActivity" />
        <activity
            android:name=".Activity.FardhuActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.TadarusActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.TarawihActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>